<div class="div">
    本項目隸屬於TRANS UNION團隊，擁有其所有知識產權<br>
    本網站建站於2026（115）年2月21日，由HosinoNeko站長在逃到上海不久后建立，而規劃和設想早在站長在扭轉機構裏想出來的。<br>
    在這裏衷心感謝以下項目、企業和個人為本項目提供了免費的援助，沒有他們就沒有這個網站的誕生：
    <ul>
        <li><a href="https://hosinoneko.me">HosinoNeko</a>:網站開發</li>
        <li><a href="https://x.com/LwrDHYyuxR22499">牧鸢</a>:社群傳播</li>
        <li><a href="https://leafletjs.com/">LEAFLETJS</a>:地圖</li>
        <li><a href="https://x.com/amber_toffee">amber ଳ</a>:社群建立</li>
        <li>Google LLC.:form表單、AppScript</li>
        <li>github:平臺</li>
        <li>Vercel:網站服務</li>
        <li>NodeJS:框架</li>
    </ul>
</div>