<div style="display: flex;     flex-direction: row;
    justify-content: center;">
    <div class="div">
        <h3>填寫類型</h3>
        <a href="/map">全部</a><br>
        <a href="?inputType=受害者本人">受害者本人</a><br>
        <a href="?inputType=受害者的代理人">受害者的代理人</a><br>
        <a href="?inputType=批量数据">批量数据</a>
    </div>
</div>